<!DOCTYPE html>
<html lang="pt" class="h-full bg-neutral-900">

<head>
    <meta charset="UTF-8" />
    <link href="css/style.css" rel="stylesheet" />
    <title>Thesis Man | 404</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body class="h-full bg-neutral-900">
    <div class="flex flex-col items-center justify-center h-full">
        <h1
            class="text-9xl text-center text-green-600 font-bold"
        >404</h1>
        <h2
            class="text-4xl text-center text-white font-bold mt-2"
        >Página não existe!</h2>
    </div>
</body>
</html>