<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>ThesisMan | Atribuir Tema</title>
    <style>

    </style>
</head>
<body>
<div th:fragment="themes-to-assign" class="mx-auto">
    <div class="w-96 max-h-96 overflow-y-auto mx-auto">
            <legend class="text-base font-semibold leading-6 text-white">Escolha o tema para atribuir</legend>
            <div class="mt-4 divide-y divide-gray-200 border-b border-t border-gray-200">
                <div th:each="theme : ${themes}" class="relative flex items-start py-4">
                    <div class="min-w-0 flex-1 text-sm leading-6">
                        <label class="select-none font-medium text-white" th:text="${theme.title}"></label>
                    </div>
                    <div class="ml-3 flex h-6 items-center">
                        <a th:href="@{/atribuir-tema/{id}(id=${theme.id})}"
                           class="bg-green-600 text-white px-3 py-1.5 rounded-md shadow-sm hover:bg-green-500 text-sm">Atribuir</a>
                    </div>
                </div>
            </div>

    </div>
</div>
</body>
</html>